table th{
    background-color: #fbc23b;
    padding:10px 20px;
}

table td{
    background-color: #f9ecd5;
    padding:10px 20px;
}

.notice{
    background-color: rgb(230, 20, 90);
    padding: 5px;
}
.post-content{
    width: 350px;
    height:200px;
}
